<nav id="bignav">
	<div class="bninner">
		{{> nav_links }}
	</div>
	<ul class="socialicons">
		<li><a href="http://www.twitter.com/evilsocket" target="_blank" title="My Twitter profile."><img src="/assets/images/twitter.png"/></a></li>
		<li><a href="https://www.github.com/evilsocket" target="_blank" title="My Github profile."><img src="/assets/images/github.png"/></a></li>
		<li><a href="http://it.linkedin.com/in/simonemargaritelli/" target="_blank" title="My LinkedIn profile."><img src="/assets/images/linkedin.png"/></a></li>
		<li><a href="http://stackoverflow.com/users/300881/simone-margaritelli" target="_blank" title="My Stack Overflow profile."><img src="/assets/images/stackoverflow.png"/></a></li>
		<li><a href="https://www.facebook.com/evilsocket" target="_blank" title="My Facebook profile."><img src="/assets/images/facebook.png"/></a></li>
		<li><a href="https://plus.google.com/104794390596458308819/posts" target="_blank" title="My Google+ profile."><img src="/assets/images/gplus.png"/></a></li>
		<li><a href="/rss/" target="_blank" title="RSS feed"><img src="/assets/images/rss.png"/></a></li>
	</ul>
</nav>