<a class="navlink" href="{{@blog.url}}/" title="Home">Home</a>
<a class="navlink" href="{{@blog.url}}/random-facts-about-me/" title="Random facts about me">About Me</a>
<a class="navlink" href="{{@blog.url}}/projects/" title="Some of my projects">Projects</a>