<header id="smallnav" class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <div>
                {{> nav_links }}
            </div>
        </div>
    </div>
</header>
